:host {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.list-container {
  flex-basis: 40%;
  max-width: 300px;
}

.list {
  background-color: papayawhip;
  border-radius: 10px;
}

.items {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.heading {
  font-weight: bold;
}

.example-form {
  margin: 3rem auto 2rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;

  & > div {
    display: flex;
    justify-content: center;
  }
}

.example-full-width {
  width: 50%;
}
