.list {
  width: 300px;
  margin: 0 auto;
  background-color: peachpuff;
  border-radius: 10px;
}

.items {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.heading {
  font-weight: bold;
}

.example-form {
  margin: 3rem auto 2rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;

  & > div {
    display: flex;
    justify-content: center;
  }
}

.example-full-width {
  width: 50%;
}

.delete-icon {
  position: absolute;
  top: 50%;
  right: -3rem;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
